
<div class="main-content">
  <div class="container-fluid">
      <div class="card card-plain">
          <div class="card-header card-header-danger">
              <h4 class="card-title">{{details.fullName}}</h4>
              <p class="card-category">{{details.arn}}
                 
              </p>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="">
                            
                                <th>
                                    Relation
                                </th>
                                <th>
                                    Relation Proof
                                </th>
                                <th>
                                  Email Id
                                </th>
                                <th>
                                    Phone Number
                                </th>
                                <th>
                                    State Deceased
                                </th>
                                <th>
                                    Death Date
                                </th>
                                <th>
                                    Bank Name
                                </th>
                                <th>
                                    Name Of Deceased
                                </th>
                                <th>
                                    Bank Proof
                                </th>
                                <th>
                                   Insurance Name
                                </th>

                                <th>
                                    Insurance Proof
                                 </th>
                                
                            </thead>
                            <tbody>
                                <tr>
                                   
                                     
                                      
                                        <td>
                                           {{details.relation}}
                                        </td>
                                        <td>
                                            <img style="height: 50px;
                                            width: 50px;" [src]="details.relproof">
                                      
                                       </td>
                                       <td>
                                          {{details.emailId}}
                                       </td>
                                       <td>
                                          {{details.phoneNumber}}
                                       </td>
                                       <td>
                                        {{details.phoneNumber}}
                                     </td>
                                       <td>
                                          {{details.deathdate}}
                                       </td>
                                       <td>
                                        {{details.bankname}}
                                     </td>
                                     <td>
                                        {{details.nameOfDec}}
                                     </td>
                                   
                                     <td>
                                      <img style="height: 50px;
                                      width: 50px;" [src]="details.bankproof">
                                     </td>
                                     <td>
                                        {{details.instiname}}
                                     </td>
                                     <td>
                                        <img style="height: 50px;
                                        width: 50px;" [src]="details.insuranceproof">
                                       </td>
                                     
                                 
                                   
                                </tr>
                               
                               
                               
                            </tbody>
                        </table>

                        
                    </div>
                      <!-- <div class="iframe-container d-none d-lg-block">
                          <iframe src="https://design.google.com/icons/">
                              <p>Your browser does not support iframes.</p>
                          </iframe>
                      </div>
                      <div class="col-md-12 d-none d-sm-block d-md-block d-lg-none d-block d-sm-none text-center ml-auto mr-auto">
                          <h5>The icons are visible on Desktop mode inside an iframe. Since the iframe is not working on Mobile and Tablets please visit the icons on their original page on Google. Check the
                              <a href="https://design.google.com/icons/" target="_blank">Material Icons</a>
                          </h5>
                      </div> -->
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
