<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.applore.in">
                        Applore
                    </a>
                </li>
                
                <li>
                    <a href="https://www.applore.in">
                        Licenses
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made with love by
            <a href="https://www.applore.in/" target="_blank">Applore</a> for a better web.
        </div>
    </div>
</footer>
