
<div class="container" style="height: 100%;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
margin-top: 30%;">
    <ng-container *ngIf="!otpSent">
    <div class="sec-container">
    <input [(ngModel)]="phoneNumber" class="get-input" placeholder="Phone" type="tel">
    <button (click)="sendOtp()" class=”button-press”>Get OTP</button>
    </div>
    </ng-container>
   
    <div id="sign-in-button"></div>
    </div>
    
    <div style="height: 100%;display: flex;flex-direction: row;justify-content:center;align-items: center;">
        <ng-container #otpContainer *ngIf="otpSent" >
            <div class="sec-container" >
            <input [(ngModel)]="otp" type="number">
            <button (click)="signIn()">Sign In</button>
            </div>
            </ng-container>
    </div>
   