<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Profiles</h4>
                      <p class="card-category"> Click on profile to check details</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      Contact Number
                                  </th>
                                 
                              </thead>
                              <tbody>
                                  <tr *ngFor="let item of items">
                                     
                                      <td class="text-primary">
                                        <a (click)="selectUser(item)">{{item.key}}</a>
                                      </td>
                                  </tr>
                                 
                                  <!-- <tr>
                                      <td>
                                          2
                                      </td>
                                      <td>
                                          Minerva Hooper
                                      </td>
                                      <td>
                                          Curaçao
                                      </td>
                                      <td>
                                          Sinaai-Waas
                                      </td>
                                      <td class="text-primary">
                                          $23,789
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          3
                                      </td>
                                      <td>
                                          Sage Rodriguez
                                      </td>
                                      <td>
                                          Netherlands
                                      </td>
                                      <td>
                                          Baileux
                                      </td>
                                      <td class="text-primary">
                                          $56,142
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          4
                                      </td>
                                      <td>
                                          Philip Chaney
                                      </td>
                                      <td>
                                          Korea, South
                                      </td>
                                      <td>
                                          Overland Park
                                      </td>
                                      <td class="text-primary">
                                          $38,735
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          5
                                      </td>
                                      <td>
                                          Doris Greene
                                      </td>
                                      <td>
                                          Malawi
                                      </td>
                                      <td>
                                          Feldkirchen in Kärnten
                                      </td>
                                      <td class="text-primary">
                                          $63,542
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          6
                                      </td>
                                      <td>
                                          Mason Porter
                                      </td>
                                      <td>
                                          Chile
                                      </td>
                                      <td>
                                          Gloucester
                                      </td>
                                      <td class="text-primary">
                                          $78,615
                                      </td>
                                  </tr> -->
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-12">
              <div class="card card-plain">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title mt-0"> Submitted Forms</h4>
                      <p class="card-category"> Select User Above</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-hover">
                              <thead class="">
                              
                                  <th>
                                      ARN
                                  </th>
                                  <th>
                                      Name
                                  </th>
                                  <th>
                                    Email Id
                                  </th>
                                  <th>
                                      Phone Number
                                  </th>
                                  <th>
                                      State
                                  </th>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let item of forms;let i=index;" (click)="details(item)">
                                     
                                        <!-- <td >
                                            <p *ngIf="!data" (click)="showMore(item,i)">
                                                down
                                            </p>
                                            <p *ngIf="data" (click)="showLess(item,i)">
                                                Up
                                            </p>
                                          
                                           
                                         </td> -->
                                          <td>
                                             {{item.arn}}
                                          </td>
                                          <td>
                                            {{item.fullName}}
                                         </td>
                                         <td>
                                            {{item.emailId}}
                                         </td>
                                         <td>
                                            {{item.phoneNumber}}
                                         </td>
                                         <td>
                                            {{item.statedeceased}}
                                         </td>
                                
<!-- <div *ngIf="data && i==selectedIndex">
Testing Here
</div> -->

                                   
                                     
                                  </tr>
                                 
                                 
                                 
                              </tbody>
                          </table>

                          
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
